<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>URL - TinyApp Example</title>
</head>
<body>

  <%- include('partials/_header', user) %>

  <div class="card text-center mb-3" style="border: 0px;">
    <h5 class="mt-2">Sign in</h5>
    <div class="d-flex justify-content-center">
      <% if (user) { %>
        <h6>You are already with us!</h6>
      <% } else { %>
        <form class="form" action="/signin" method="POST">
          <table class="table-small">
            <tbody>
              <tr>
                <td style="text-align: right">
                  <label class="mb-0" for="email">E-mail:</label>
                </td>
                <td>
                  <input class="form" type="email" name="email" style="vertical-align: middle; width: 300px; margin: 1em; border-radius: 5px;">
                </td>
              </tr>
              <tr>
                <td style="text-align: right">
                  <label class="my-2" for="password">Password:</label><br><br>
                </td>
                <td>
                  <input class="form" type="password" name="password" style="vertical-align: middle; width: 300px; margin: 1em; border-radius: 5px;"><br>
                </td>
              </tr>
            </tbody>
          </table>
          <div style="vertical-align: middle">
            <button type="submit" class="btn btn-primary btn-sm">Sign in</button>
          </div>
          <div class="mt-3" style="height: 40px">
            <% if (invalid) { %>
              <p style="font-size: 12px; color: red">Invalid information.</p>
            <% } %>
          </div>
        </form>
      <% } %>
    </div>
  </div>
  <div class="card-footer text-muted"></div>
  </div>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>